
/* 框架 */
*{box-sizing: content-box;}
body{width:100%;margin: 0 auto;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;}

footer{text-align:center;
       color: gray;}
    
/* 首页图 */
.shouyetu {width:100%;margin: 0 auto ;}
.shouyetu img{width: 100%;}
    
/* 导航条 */
nav{width: 100%;margin: 0 auto;}

nav ul{margin:0px auto;
    width: 100%;
    height: 70px;
    padding: 0px;
    background-color:rgb(0, 0, 0);
    position: fixed;
    top: 0;}

nav ul div{width: 90%;
    margin: auto;
    height: auto;}

nav ul div li{
    margin:auto 0;
    list-style-type: none;
    float: left;}



nav ul div li a{
    display: block;
    width:80px;
    height: 50px;
    font-family: Microsoft Yahei;
    line-height:50px;
    background-color:gra;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;}

nav ul div li a:hover{background-color:gray;}

.guanyuwo{float: right;}

.LOGO{margin-top: 13px;margin-right: 5%;width: 10%;}
.LOGO img{width: 100%;}


/* 作业 */
.zuoye{width: 80%;margin: 100px auto;}
.zuoye h1{width: 30%;margin: 50px auto; font-size: 4vw; text-align: center;color: white;}
.zuoye ul{width: 50%;margin: 50px auto;padding: 0px}
.zuoye ul li{margin: 10px auto; text-align: center;color: white;list-style-type: none;text-decoration: none;}
.zuoye ul li a{text-decoration: none;color: white;font-size: 1.5vw;}


/* 占位符 */
.zhanweifu{margin: 300px auto;width: 80%;}

/* 底部信息 */
footer{width: 80%;margin: 100px auto 30px ;font-size: 1vw;color: rgb(160, 160, 160);}
